<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button fw-semibold custom-btn bg-hover-color" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="true" aria-controls="panelsStayOpen-collapseFive"
            style="height: 50px;">
            <img src="/static/icons/afi_icon.png" alt="afi icon" height="25px" class="me-2" width="25px" />
            Finanzas
        </button>
    </h2>
    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
        <div class="accordion-body d-flex flex-column gap-1 ps-4 py-2" style="font-size: 15px;">
            <a class="nav-link bg-hover-color ms-1" href="/afi/cegid">
                <img src="/static/icons/afi_ic_icon.png" alt="afi ic icon" height="21px" class="me-2" />
                Interfaz Cegid Y2
            </a>
            <a class="nav-link bg-hover-color ms-1" href="/afi/parameters">
                <img src="/static/icons/settings_icon.ico" alt="settings icon" height="21px" class="me-2" />
                Parametros IC Cegid Y2
            </a>
            <!-- <a class="nav-link bg-hover-color ms-1" href="/afi/settings">
                <img src="/static/icons/settings_icon.ico" alt="client icon" height="20px" class="me-2" />
                Ajustes
            </a> -->
        </div>
    </div>
</div>