<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button fw-semibold custom-btn bg-hover-color" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseFour"
            style="height: 50px;">
            <img src="/static/icons/price_icon.png" alt="client icon" height="24px" class="me-2" width="24px" />
            Precios
        </button>
    </h2>
    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
        <div class="accordion-body d-flex flex-column gap-1 ps-4 py-2" style="font-size: 15px;">
            <a class="nav-link bg-hover-color ms-1" href="/prices/cegid">
                <img src="/static/icons/price_2_icon.png" alt="big cargo" height="21px" class="me-2" />
                Precios Cegid Y2
            </a>
            <!-- <a class="nav-link bg-hover-color ms-1" href="/prices/settings">
                <img src="/static/icons/settings_icon.ico" alt="client icon" height="20px" class="me-2" />
                Ajustes
            </a> -->
        </div>
    </div>
</div>