<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button fw-semibold custom-btn bg-hover-color" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="true" aria-controls="panelsStayOpen-collapseSix"
            style="height: 50px;">
            <img src="/static/icons/store_icon.png" alt="store icon" height="24px" class="me-2" width="24px" />
            Establecimientos
        </button>
    </h2>
    <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
        <div class="accordion-body d-flex flex-column gap-1 ps-4 py-2" style="font-size: 15px;">
            <a class="nav-link bg-hover-color ms-1" href="/settings/stores/cegid">
                <img src="/static/icons/store_icon.ico" alt="store icon" height="21px" class="me-2" />
                Tiendas Cegid Y2
            </a>
            <!-- <a class="nav-link bg-hover-color ms-1" href="/stores/settings">
                <img src="/static/icons/settings_icon.ico" alt="client icon" height="20px" class="me-2" />
                Ajustes
            </a> -->
        </div>
    </div>
</div>