{% macro btnupload(id_element, height="25vmax") %}
<div id="{{ id_element }}" class="container-fluid d-flex flex-column justify-content-center align-items-center btn-upload-table">
    <img src="/static/icons/upload-button_icon.png" alt="upload-button" height="25%" />
    <div class="spinner-border fs-3 d-none" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="my-1"></div>
    <span class="fs-5">Subir Archivo CSV</span>
</div>
<style>
    .btn-upload-table {
        height: {{ height }};
        background-color: #e5e5e5;
        border: 5px solid #d3d3d3;
        border-radius: 8px;
        cursor: pointer;
    }
    .btn-upload-table:hover {
        background-color: #d3d3d3;
        border-color: #c3c3c3;
    }
    .btn-upload-table .spinner-border {
        width: 4rem;
        height: 4rem;
    }
    .btn-upload-isloading:hover {
        background-color: #e5e5e5;
        border-color: #d3d3d3;
    }
    .btn-upload-isloading img {
        display: none;
    }
    .btn-upload-isloading .spinner-border {
        display: inline-block !important;
    }
    .btn-upload-isloading span {
        visibility: hidden;
        position: relative;
    }
    .btn-upload-isloading span::after {
        content: "Cargando...";
        visibility: visible;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }
</style>
{% endmacro %}